@charset "UTF-8";

#wrap {
  width: 1200px;
  height: 850px;
  margin: 30px auto ;

}

.wrap_left {
  width: 900px;
  height: auto;
  float: left;
  border-right: 1px solid #333;
}

.index_promotion {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  
}

.index_promotion img {
  width: 100%;
  height: 100%;
}

.index_discount {
  width: 800px;
  height: 205px;
  margin: 20px auto;
  
}

.index_discount ul {
  width: 576px;
  height: 205px;
  margin: 0 auto;
}

.index_discount ul li {
  float: left;
  padding: 5px;
}

.index_discount ul li a img {
  width: 132px;
  height: 196px;
}

.index_guide {
  width: 90%;
  height: 120px;
  margin: 20px auto;

}

.index_guide img {
  margin-bottom: 5px;
}

.index_guide ul li {
  float: left;
  width: 12.5%;
}

.index_guide ul li a img {
  width: 100%;
  height: auto;
}

.index_sns {
  width: 90%;
  height: 80px;
  margin: 20px auto;
  
}

.index_sns img {
  margin-bottom: 5px;
}

.index_sns ul li {
  float: left;
  width: 10%;
}

.index_sns ul li a img {
  width: 100%;
  height: auto;
}




.wrap_right {
  width: 290px;
  height: auto;
  
  float: right;
}

.reservation_form {
  width: 90%;
  height: 400px;
  border: 1px solid black;
  margin: 0 auto;
  background-color: #c2ebfc;
}

.form {
  margin: 20px;
}

table {
  table-layout: fixed;
  font-size: 12px;
}

table tr {
  height: 40px;
}

table td :first-child {
  width: 140px;
}

.submit {
  height: 100%;
  background-color: tomato;
  color: white;
  border: 0;
  cursor: pointer;
}