@charset "UTF-8";

#wrap {
  width: 1200px;
  height: 1000px;
  margin: 30px auto;
}

.search_box {
  width: 740px;
  height: 750px;
  margin: 0 auto;
  border: 2px solid #333;
  background-color: white;
  padding: 50px;
}

.search_title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 35px;
  font-weight: 650;
  text-align: center;
}

.search_form {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  
}

table {
  text-align: center;
}

table tr {
  height: 40px;
}

.submit {
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  background-color: tomato;
  color: white;
  border: 0;
  cursor: pointer;
}